body {
  margin: 0px;
}

.post-pai {
  background-color: #fffafa;
  width: 70%;
  margin: 0px auto 0px auto;
}
.post {
  padding: 20px 40px 20px 40px;
  width: 90%;
}
.date {
  font-family: "roboto", sans-serif;
  color: #008080;
}
h1 {
  font-family: "montserrat", sans-serif;
}
.conteudo {
  font-family: "Open sans", sans-serif;
}
